@import "tailwindcss";

body {
  background-color: #09090b; /* zinc-950 */
  color: #e4e4e7; /* zinc-200 */
}

/* Hide scrollbar globally for a cleaner look */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
